<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2018 Javier Cañon
https://www.javiercanon.com 
https://www.xn--javiercaon-09a.com
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SO.Browser.Desktop.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SO.Browser.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="">
    <clear />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- App -->
    <!--  General -->
    <add key="Mail:Server.host" value="smtp.gmail.com" />
    <add key="Mail:Server.login" value="" />
    <add key="Mail:Server.password" value="" />
    <add key="Mail:Server.port" value="587" />
    <add key="Mail:Server.ssl" value="TRUE" />
    <add key="Development:DeveloperMode.Enabled" value="True" />
    <add key="Logger:Enabled" value="True" />
    <add key="Logger:DeveloperMsg.Enabled" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="MSSQLSERVER" connectionString="Data Source=(local);Database=xxxx;Integrated Security=;User ID=xxx;Password=xxxx;Max Pool Size=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2013 Dark Gray</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Tahoma;9</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <log4net>
    <appender name="fileLog" type="log4net.Appender.RollingFileAppender">
      <file value="SO-Browser.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10000KB" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <logger name="loggerConsole">
      <appender-ref ref="fileLog" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SO.Browser.Desktop.Properties.User>
      <setting name="DefaultBrowserURL" serializeAs="String">
        <value>https://www.google.com</value>
      </setting>
      <setting name="TabsURLs" serializeAs="String">
        <value />
      </setting>
    </SO.Browser.Desktop.Properties.User>
    <SO.Browser.Desktop.Properties.Settings>
      <setting name="TabsURLs" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultBrowserURL" serializeAs="String">
        <value>https://www.google.com</value>
      </setting>
    </SO.Browser.Desktop.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>