<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2018 Javier Cañon
https://www.javiercanon.com 
https://www.xn--javiercaon-09a.com
-->
<packages>
  <package id="cef.redist.x64" version="3.3396.1786" targetFramework="net472" />
  <package id="cef.redist.x86" version="3.3396.1786" targetFramework="net472" />
  <package id="CefSharp.Common" version="67.0.0" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="67.0.0" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
</packages>